<!-- Error messages -->
<div id="form-error" style="display: none; color: red; size: 20px;">
  Remplissez tous les champs
</div>
<div id="send-error" style="display: none; color: red; size: 20px;">
  Erreur lors de l'envoie des données, veuillez verifier votre connexion
</div>

<!-- Form for create a new category -->
<form style="width:25%;" (ngSubmit)="onSubmit()">
  <div class="form-group has-success">
    <label class="form-control-label">Title</label>
    <input type="text" class="form-control is-valid" [(ngModel)]="newCategory.title" name="title">
  </div>

  <div class="form-group">
    <label class="form-control-label">Description</label>
    <textarea class="form-control" rows="3" [(ngModel)]="newCategory.description" name="description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  
